<div informly-type="informly-info" class="informly-info-container">
    <div id="{#MISINFO_ID#}-info-header" class="informly-section informly-header">
        <h1 class="informly-heading">Informly</h1>
        <i onclick="document.dispatchEvent(new CustomEvent('informly-hide',{detail:{misinfoId: '{#MISINFO_ID#}'}}))" class="fa-regular fa-circle-xmark fa-lg"></i>
    </div>
    <div id="{#MISINFO_ID#}-info-body" class="informly-section informly-body">
        <p id="informly-output" class="informly-item">{#TOKEN#}</p>
    </div>
    <div id="{#MISINFO_ID#}-info-footer" class="informly-section informly-footer">

        <p for="url-soruce" id="misinfo-claim" class="informly-item ">Remember where you found this claim?</p>
        <input class="informly-item informly-mb" type="text" id="{#MISINFO_ID#}-url-source" name="url-soruce" placeholder="http://..." onfocus="document.dispatchEvent(new CustomEvent('informly-show-submit', {detail:{misinfoId:'{#MISINFO_ID#}' }}))">
        <div class="informly-item  informly-checkbox-container">
            <input id="{#MISINFO_ID#}-false-positive-flag" type="checkbox" class="informly-checkbox" onfocus="document.dispatchEvent(new CustomEvent('informly-show-submit', {detail:{misinfoId:'{#MISINFO_ID#}' }}))"> Incorrectly flagged as misinformation.
        </div>
    </div>
    <div id="{#MISINFO_ID#}-submit"  class="informly-section informly-submit" onclick="document.dispatchEvent(new CustomEvent('informly-submit', {detail:{misinfoId: '{#MISINFO_ID#}' }}))">
        <span class="informly-submit-text">Submit</span>
    </div>
    <div id="{#MISINFO_ID#}-thanks" class="informly-section informly-thanks">
        <div class="informly-thank-text">Thanks!</div>
        <div class="informly-thank-text">
            <i class="fa-regular fa-face-smile fa-5x"></i>
        </div>
        <div class="informly-points">+{#BYTES#} bytes</div>
    </div>
</div>